:root {
    --c1: #2C3333;
    --c2: #2E4F4F;
    --c3: #0E8388;
    --c4: #CBE4DE;
    --c1t: rgba(44, 51, 51, 0.5);
    --c2t: rgba(46, 79, 79, 0.5);
    --c3t: rgba(14, 131, 136, 0.5);
    --c4t: rgba(203, 228, 222, 0.5);
    --headerHeight: 120px;
    --headerBtn: 12px;
    --headerBtnBorder: 12px;
    --headerBtnFontSize: 36px;
    --headerLink: 6px;
    --headerLinkBorder: 6px;
    --headerLinkFontSize: 24px;
    --projectPadding: 36px;
    --projectBorder: 36px;
    --projectInnerBorder: 24px;
    --projectBorderMargin: 12px;
    --projectBorderMarginHalf: 6px;
    --projectToolIcon: 57px;
    --projectTimeFrame: 34px;
    --footerHeight: 240px;

    --h1FontSize: 48px;
    --h2FontSize: 40px;
    --pFontSize: 24px;
    --projectLinkText: 24px;
    --largeHeaderFontSize: 60px;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: var(--h1FontSize);
    text-align: center;
}

.largeHeader {
    font-size: var(--largeHeaderFontSize);
}

p {
    font-size: var(--pFontSize);
}

h2 {
    font-size: var(--h2FontSize);
    text-align: center;
}

body {
    background-color: var(--c1);
    height: 100%; /* force the BODY element to match the height of the HTML element */
}

html {
    min-height: 100%; /* make sure it is at least as tall as the viewport */
    position: relative;
}

#bgDiv {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: -1;
}

#bgCanvas {
    width: 100%;
    height: 100%;
}

header {
    top: 0;
    position: fixed;
    width: 100%;
    background-color: var(--c1t);
    backdrop-filter: blur(6px);
    color: var(--c4);
    height: var(--headerHeight);
    z-index: 1;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: var(--headerBtnFontSize);
}

.navbarBtn {
    margin-right: var(--headerBtn);
    margin-left: var(--headerBtn);
    font-size: var(--headerBtnFontSize);
    font-family: "Consolas", serif;
    background-color: var(--c2t);
    padding: var(--headerBtn);
    border: 1px solid var(--c3t);
    border-radius: var(--headerBtnBorder);
    text-decoration: none;
    color: var(--c4);
    transition: background-color 0.1s linear,
    border-bottom-color 0.1s linear,
    border-top-color 0.1s linear,
    border-left-color 0.1s linear,
    border-right-color 0.1s linear;
}

.navbarBtn:hover {
    background-color: var(--c1t);
    border-color: black;
}

.headerLink {
    margin-right: var(--headerLink);
    margin-left: var(--headerLink);
    font-size: var(--headerLinkFontSize);
    background-color: var(--c2t);
    padding: var(--headerLink);
    border: 1px solid var(--c3t);
    border-radius: var(--headerLinkBorder);
    text-decoration: none;
    color: var(--c4);
    transition: background-color 0.1s linear,
    border-bottom-color 0.1s linear,
    border-top-color 0.1s linear,
    border-left-color 0.1s linear,
    border-right-color 0.1s linear;
}

.headerLink:hover {
    background-color: var(--c1t);
    border-color: black;
}

main {
    margin-top: var(--headerHeight);
    color: var(--c4);
    min-height: calc(100vh - var(--headerHeight));
}

main p {
    text-align: justify;
}

.projectsHolder {
    padding-top: var(--projectPadding);
    padding-bottom: var(--projectPadding);
    width: 100%;
}

.projectA {
    pointer-events: none;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: var(--projectPadding);
    border-radius: var(--projectBorder);
    width: 100%;
    color: var(--c4);
    background-color: var(--c2t);
    backdrop-filter: blur(6px);
    font-family: Consolas, serif;
    text-decoration: none;
}


.projectA > a {
    pointer-events: auto;
    position: absolute;
    border-radius: var(--projectBorder);
    border: var(--c3t) 1px solid;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition: background-color 0.1s linear,
    border-bottom-color 0.1s linear,
    border-top-color 0.1s linear,
    border-left-color 0.1s linear,
    border-right-color 0.1s linear,
    filter 0.1s ease;
}

.projectA > a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-color: black;
    filter: brightness(1);
}

.projectA > img {
    order: 0;
    margin: var(--projectBorderMargin);
    flex-shrink: 0; /* Prevent the image from shrinking */
    width: 36%;
    height: 30%;
    border-radius: var(--projectInnerBorder);
    border: var(--c3t) 1px solid;
}

.projectA > video {
    order: 0;
    margin: var(--projectBorderMargin);
    flex-shrink: 0; /* Prevent the image from shrinking */
    width: 36%;
    height: 30%;
    border-radius: var(--projectInnerBorder);
    border: var(--c3t) 1px solid;
}

.projectA > div {
    order: 0;
    display: flex;
    flex-direction: column;
    bottom: 0;
    justify-content: space-between;
    margin-left: var(--projectBorderMargin);
    margin-right: var(--projectBorderMargin);
    pointer-events: none;
    position: relative;
    width: 100%;
    z-index: 1;
}

.projectText {
    margin-left: var(--projectBorderMargin);
    margin-right: var(--projectBorderMargin);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.projectText > div > div {
    display: flex;
    justify-content: center;
    margin: var(--projectBorderMargin);
}

.projectText > div > div > img {
    height: var(--projectToolIcon);
    margin-left: var(--projectBorderMargin);
}

.timeFrameText {
    font-size: var(--projectTimeFrame);
}

.projectLinks {
    display: flex;
    margin-left: calc(var(--projectBorderMarginHalf) * -1);
    margin-right: calc(var(--projectBorderMarginHalf) * -1);
}

.projectLinks > a {
    font-size: var(--projectLinkText);
    pointer-events: all;
    text-align: center;
    width: 100%;
    text-decoration: none;
    color: var(--c4);
    background-color: var(--c2t);
    border: var(--c3t) 1px solid;
    border-radius: var(--projectInnerBorder);
    margin: var(--projectBorderMarginHalf) var(--projectBorderMarginHalf) var(--projectBorderMargin);
    padding: var(--projectBorderMargin);
    transition: background-color 0.1s linear,
    border-bottom-color 0.1s linear,
    border-top-color 0.1s linear,
    border-left-color 0.1s linear,
    border-right-color 0.1s linear;
}

.projectLinks > a:hover {
    background-color: var(--c1t);
    border-color: black;
}

.readHolder {
    margin-bottom: var(--projectPadding);
    width: 100%;
    color: var(--c4);
    background-color: var(--c2t);
    border-radius: var(--projectBorder);
    backdrop-filter: blur(6px);
    font-family: Consolas, serif;
    border: var(--c3t) 1px solid;
}

.readHolder {
    margin-top: calc(var(--projectPadding) + var(--headerHeight));
}

.readSection {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: var(--projectBorderMargin);
}

.readSection > img {
    order: 0;
    margin: var(--projectBorderMargin);
    flex-shrink: 0; /* Prevent the image from shrinking */
    width: 36%;
    height: 30%;
    border-radius: var(--projectInnerBorder);
    border: var(--c3t) 1px solid;
}

.readSection > video {
    order: 0;
    margin: var(--projectBorderMargin);
    flex-shrink: 0; /* Prevent the image from shrinking */
    width: 36%;
    height: 30%;
    border-radius: var(--projectInnerBorder);
    border: var(--c3t) 1px solid;
}

.readSection > div {
    order: 0;
    display: flex;
    flex-direction: column;
    bottom: 0;
    justify-content: space-between;
    margin-left: var(--projectBorderMargin);
    margin-right: var(--projectBorderMargin);
    position: relative;
    width: 100%;
    z-index: 1;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: Consolas, serif;
    background-color: var(--c1t);
    color: var(--c4);
    backdrop-filter: blur(6px);
    height: var(--footerHeight);
}

.center {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 2000px) {
    .center {
        width: 1000px;
    }

    :root {
        --headerHeight: 100px;
        --headerBtn: 10px;
        --headerBtnBorder: 10px;
        --headerBtnFontSize: 30px;
        --headerLink: 5px;
        --headerLinkBorder: 5px;
        --headerLinkFontSize: 20px;
        --projectPadding: 30px;
        --projectBorder: 30px;
        --projectInnerBorder: 20px;
        --projectBorderMargin: 10px;
        --projectBorderMarginHalf: 5px;
        --projectToolIcon: 48px;
        --projectTimeFrame: 28px;
        --footerHeight: 200px;

        --h1FontSize: 40px;
        --h2FontSize: 33px;
        --pFontSize: 20px;
        --projectLinkText: 20px;
        --largeHeaderFontSize: 50px;
    }
}


@media only screen and (max-width: 1200px) {
    .center {
        width: calc(100% - var(--projectPadding) * 2);
    }

    .projectA {
        flex-direction: column;
    }

    .projectA > div {
        width: auto;
        order: 1;
    }

    .projectA > img {
        width: auto;
        height: auto;
        order: 2;
    }

    .projectA > video {
        width: auto;
        height: auto;
        order: 2;
    }

    .projectLinks {
        flex-flow: wrap;
    }

    .timeFrameText {
        margin-top: 4vw;
        margin-bottom: 4vw;
    }

    header > nav {
        flex-direction: column;
    }

    header > nav > ul {
        display: flex;
        justify-content: space-evenly;
    }

    .navbarBtn {
        margin-left: 0;
        margin-right: 0;
    }

    .headerLink {
        margin-left: 0;
        margin-right: 0;
    }

    .readSection {
        flex-direction: column;
    }

    .readSection > div {
        width: auto;
        order: 1;
    }

    .readSection > img {
        width: auto;
        height: auto;
        order: 2;
    }

    .readSection > video {
        width: auto;
        height: auto;
        order: 2;
    }

    :root {
        --headerHeight: 30vw;
        --headerBtn: 2vw;
        --headerBtnBorder: 3vw;
        --headerBtnFontSize: 6vw;
        --headerLink: 2vw;
        --headerLinkBorder: 3vw;
        --headerLinkFontSize: 5vw;
        --projectPadding: 3vw;
        --projectBorder: 9vw;
        --projectInnerBorder: 6vw;
        --projectBorderMargin: 3vw;
        --projectBorderMarginHalf: 1.5vw;
        --projectToolIcon: 7.2vw;
        --projectTimeFrame: 5vw;
        --footerHeight: 20vw;

        --h1FontSize: 6vw;
        --h2FontSize: 5vw;
        --pFontSize: 4vw;
        --projectLinkText: 5vw;
        --largeHeaderFontSize: 10vw;
    }
}

@media only screen and (min-width: 3000px) {
    .center {
        width: 2000px;
    }

    :root {
        --headerHeight: 200px;
        --headerBtn: 20px;
        --headerBtnBorder: 20px;
        --headerBtnFontSize: 60px;
        --headerLink: 10px;
        --headerLinkBorder: 10px;
        --headerLinkFontSize: 40px;
        --projectPadding: 60px;
        --projectBorder: 60px;
        --projectInnerBorder: 40px;
        --projectBorderMargin: 20px;
        --projectBorderMarginHalf: 10px;
        --projectToolIcon: 96px;
        --projectTimeFrame: 56px;
        --footerHeight: 400px;

        --h1FontSize: 80px;
        --h2FontSize: 66px;
        --pFontSize: 40px;
        --projectLinkText: 40px;
        --largeHeaderFontSize: 100px;
    }
}