:root {
    --c1: #2C3333;
    --c2: #2E4F4F;
    --c3: #0E8388;
    --c4: #CBE4DE;
    --c1t: rgba(44, 51, 51, 0.8);
    --c2t: rgba(46, 79, 79, 0.5);
    --c3t: rgba(14, 131, 136, 0.5);
    --c4t: rgba(203, 228, 222, 0.5);
    --headerHeight: 100px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--c1);
    height:100%; /* force the BODY element to match the height of the HTML element */
}
html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}
#bgDiv{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    z-index:-1; /* Remove this line if it's not going to be a background! */
}

#bgCanvas {
    width: 100%;
    height: 100%;
}

header {
    top: 0;
    position: fixed;
    width: 100%;
    background-color: var(--c1t);
    backdrop-filter: blur(6px);
    color: var(--c4);
    height: var(--headerHeight);
    z-index: 1;
}

header nav {
    display: flex;
    justify-content: space-between;
}



header nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 30px;
}

.navbarBtn {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 30px;
    font-family: "Consolas", serif;
    background-color: var(--c2t);
    padding: 10px;
    /*border: 3px solid var(--c3);*/
    border-radius: 10px;
    text-decoration: none;
    color: var(--c4);
    transition: background-color 0.1s linear;
}

.navbarBtn:hover {
    background-color: var(--c3t);
}

.headerLink {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
    background-color: var(--c2t);
    padding: 5px;
    /*border: 3px solid var(--c3);*/
    border-radius: 5px;
    text-decoration: none;
    color: var(--c4);
    transition: background-color 0.1s linear;
}

.headerLink:hover {
    background-color: var(--c3t);
}

main {
    margin-top: var(--headerHeight);
    /*background-color: var(--c1);*/
    color: var(--c4);
    min-height: calc(100vh - var(--headerHeight));
}

.bg_img {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.bg_img > img {
    position: absolute;
    z-index: -1;
    width: 100%;
    max-width: 2560px;
}

.projectCards {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-grow: inherit;
    align-items: center;
    justify-content: space-evenly;
}

.projectCards li a {
    margin: 20px;
    font-size: 30px;
    background-color: var(--c3t);
    backdrop-filter: blur(6px);
    border: 1px solid var(--c3);
    border-radius: 30px;
    text-decoration: none;
    color: var(--c4);
    display: block;
    height: 300px;
    width: 300px;
    overflow: hidden;
    transition: background-color 0.2s linear,
    border-bottom-color 0.2s linear,
    border-top-color 0.2s linear,
    border-left-color 0.2s linear,
    border-right-color 0.2s linear;
    text-align: center;
}

.projectCards li a p {
    bottom: 15px;
    position: absolute;
    font-family: "Consolas", serif;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.projectCards li a:hover {
    background-color: var(--c2t);
    border-color: black;
}
.projectCards li a img {
    transition: filter 0.2s ease,
    width 0.2s ease,
    height 0.2s ease,
    margin-left 0.2s ease,
    margin-top 0.2s ease;
}

.projectCards li a:hover > img {
    filter: brightness(0.75);
    width: 105%;
    height: 85%;
    margin-left: -2.5%;
    margin-top: -5%;
}


footer {
    background-color: var(--c1t);
    color: var(--c4);
    backdrop-filter: blur(6px);
    height: 300px;
}

.center {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 1080px) {
    .center {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 1500px) {
    .center {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}