html {background-color: gray}
* {margin: 0; padding: 0;}
#cDiv {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
#canvas {
  border: 1px solid black;
  background-color: white;
  width: 70vw;
  height: 40vw;
}
#cDiv2 {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
#canvas2 {
  border: 1px solid black;
  background-color: white;
  width: 14vw;
  height: 40vw;
}
